<h1 style="color:blue;"><center> WHAT TYPE OF FILMS SHOULD BE CREATING?</center>

  </h1>

<h2 style="color:green;"> Importing libraries</h2>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
!pip install plotly

Requirement already satisfied: plotly in /anaconda3/lib/python3.7/site-packages (3.9.0)
Requirement already satisfied: retrying>=1.3.3 in /anaconda3/lib/python3.7/site-packages (from plotly) (1.3.3)
Requirement already satisfied: requests in /anaconda3/lib/python3.7/site-packages (from plotly) (2.21.0)
Requirement already satisfied: six in /anaconda3/lib/python3.7/site-packages (from plotly) (1.12.0)
Requirement already satisfied: pytz in /anaconda3/lib/python3.7/site-packages (from plotly) (2018.9)
Requirement already satisfied: decorator>=4.0.6 in /anaconda3/lib/python3.7/site-packages (from plotly) (4.4.0)
Requirement already satisfied: nbformat>=4.2 in /anaconda3/lib/python3.7/site-packages (from plotly) (4.4.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests->plotly) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests->plotly) (2019.3.9)
Requirement already satisfied: idna<2.9,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests->plotly) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests->plotly) (1.24.1)
Requirement already satisfied: traitlets>=4.1 in /anaconda3/lib/python3.7/site-packages (from nbformat>=4.2->plotly) (4.3.2)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /anaconda3/lib/python3.7/site-packages (from nbformat>=4.2->plotly) (3.0.1)
Requirement already satisfied: ipython-genutils in /anaconda3/lib/python3.7/site-packages (from nbformat>=4.2->plotly) (0.2.0)
Requirement already satisfied: jupyter-core in /anaconda3/lib/python3.7/site-packages (from nbformat>=4.2->plotly) (4.4.0)
Requirement already satisfied: attrs>=17.4.0 in /anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2->plotly) (19.1.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2->plotly) (0.14.11)
Requirement already satisfied: setuptools in /anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2->plotly) (40.8.0)

In [3]:
!pip install cufflinks

Requirement already satisfied: cufflinks in /anaconda3/lib/python3.7/site-packages (0.15)
Requirement already satisfied: plotly>=3.0.0 in /anaconda3/lib/python3.7/site-packages (from cufflinks) (3.9.0)
Requirement already satisfied: setuptools>=34.4.1 in /anaconda3/lib/python3.7/site-packages (from cufflinks) (40.8.0)
Requirement already satisfied: numpy>=1.9.2 in /anaconda3/lib/python3.7/site-packages (from cufflinks) (1.16.2)
Requirement already satisfied: colorlover>=0.2.1 in /anaconda3/lib/python3.7/site-packages (from cufflinks) (0.3.0)
Requirement already satisfied: ipywidgets>=7.0.0 in /anaconda3/lib/python3.7/site-packages (from cufflinks) (7.4.2)
Requirement already satisfied: ipython>=5.3.0 in /anaconda3/lib/python3.7/site-packages (from cufflinks) (7.4.0)
Requirement already satisfied: pandas>=0.19.2 in /anaconda3/lib/python3.7/site-packages (from cufflinks) (0.24.2)
Requirement already satisfied: six>=1.9.0 in /anaconda3/lib/python3.7/site-packages (from cufflinks) (1.12.0)
Requirement already satisfied: requests in /anaconda3/lib/python3.7/site-packages (from plotly>=3.0.0->cufflinks) (2.21.0)
Requirement already satisfied: nbformat>=4.2 in /anaconda3/lib/python3.7/site-packages (from plotly>=3.0.0->cufflinks) (4.4.0)
Requirement already satisfied: decorator>=4.0.6 in /anaconda3/lib/python3.7/site-packages (from plotly>=3.0.0->cufflinks) (4.4.0)
Requirement already satisfied: pytz in /anaconda3/lib/python3.7/site-packages (from plotly>=3.0.0->cufflinks) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /anaconda3/lib/python3.7/site-packages (from plotly>=3.0.0->cufflinks) (1.3.3)
Requirement already satisfied: traitlets>=4.3.1 in /anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->cufflinks) (4.3.2)
Requirement already satisfied: ipykernel>=4.5.1 in /anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->cufflinks) (5.1.0)
Requirement already satisfied: widgetsnbextension~=3.4.0 in /anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->cufflinks) (3.4.2)
Requirement already satisfied: pickleshare in /anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->cufflinks) (0.7.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->cufflinks) (4.6.0)
Requirement already satisfied: pygments in /anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->cufflinks) (2.3.1)
Requirement already satisfied: backcall in /anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->cufflinks) (0.1.0)
Requirement already satisfied: jedi>=0.10 in /anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->cufflinks) (0.13.3)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->cufflinks) (2.0.9)
Requirement already satisfied: appnope; sys_platform == "darwin" in /anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->cufflinks) (0.1.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /anaconda3/lib/python3.7/site-packages (from pandas>=0.19.2->cufflinks) (2.8.0)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests->plotly>=3.0.0->cufflinks) (2019.3.9)
Requirement already satisfied: idna<2.9,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests->plotly>=3.0.0->cufflinks) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests->plotly>=3.0.0->cufflinks) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests->plotly>=3.0.0->cufflinks) (3.0.4)
Requirement already satisfied: ipython-genutils in /anaconda3/lib/python3.7/site-packages (from nbformat>=4.2->plotly>=3.0.0->cufflinks) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /anaconda3/lib/python3.7/site-packages (from nbformat>=4.2->plotly>=3.0.0->cufflinks) (3.0.1)
Requirement already satisfied: jupyter-core in /anaconda3/lib/python3.7/site-packages (from nbformat>=4.2->plotly>=3.0.0->cufflinks) (4.4.0)
Requirement already satisfied: tornado>=4.2 in /anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (6.0.2)
Requirement already satisfied: jupyter-client in /anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (5.2.4)
Requirement already satisfied: notebook>=4.4.1 in /anaconda3/lib/python3.7/site-packages (from widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->cufflinks) (5.7.8)
Requirement already satisfied: ptyprocess>=0.5 in /anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.3.0->cufflinks) (0.6.0)
Requirement already satisfied: parso>=0.3.0 in /anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=5.3.0->cufflinks) (0.3.4)
Requirement already satisfied: wcwidth in /anaconda3/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=5.3.0->cufflinks) (0.1.7)
Requirement already satisfied: attrs>=17.4.0 in /anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2->plotly>=3.0.0->cufflinks) (19.1.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2->plotly>=3.0.0->cufflinks) (0.14.11)
Requirement already satisfied: pyzmq>=13 in /anaconda3/lib/python3.7/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (18.0.0)
Requirement already satisfied: prometheus-client in /anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->cufflinks) (0.6.0)
Requirement already satisfied: terminado>=0.8.1 in /anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->cufflinks) (0.8.1)
Requirement already satisfied: nbconvert in /anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->cufflinks) (5.4.1)
Requirement already satisfied: jinja2 in /anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->cufflinks) (2.10)
Requirement already satisfied: Send2Trash in /anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->cufflinks) (1.5.0)
Requirement already satisfied: mistune>=0.8.1 in /anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->cufflinks) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in /anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->cufflinks) (0.3)
Requirement already satisfied: bleach in /anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->cufflinks) (3.1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->cufflinks) (1.4.2)
Requirement already satisfied: testpath in /anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->cufflinks) (0.4.2)
Requirement already satisfied: defusedxml in /anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->cufflinks) (0.5.0)
Requirement already satisfied: MarkupSafe>=0.23 in /anaconda3/lib/python3.7/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->cufflinks) (1.1.1)
Requirement already satisfied: webencodings in /anaconda3/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.4.0->ipywidgets>=7.0.0->cufflinks) (0.5.1)

In [4]:
from plotly import __version__
import cufflinks as cf
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [5]:
init_notebook_mode(connected=True)

In [6]:
cf.go_offline()

<h2 style="color:blue;"> Exploring the Data</h2>

In [7]:
bom_movie_df = pd.read_csv('data/bom.movie_gross.csv.gz')

In [8]:
bom_movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3359 non-null float64
foreign_gross     2037 non-null object
year              3387 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [9]:
bom_movie_df.loc[bom_movie_df['domestic_gross'].isna(), 'domestic_gross'] =bom_movie_df['domestic_gross'].astype(float)

In [10]:
bom_movie_df.loc[bom_movie_df['domestic_gross'].isna(), 'domestic_gross'] =0

In [11]:
bom_movie_df['foreign_gross'].isna().sum()

1350

In [12]:
bom_movie_df.loc[bom_movie_df['foreign_gross'] == 'NaN', 'foreign_gross'] = 0

In [13]:
#bom_movie_df['foreign_gross']
def float_mkr(x):
    try:
        return float(x)
    except:
        return np.nan

In [14]:
  bom_movie_df['foreign_gross'] = bom_movie_df['foreign_gross'].apply(float_mkr)

In [15]:
bom_movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
title             3387 non-null object
studio            3382 non-null object
domestic_gross    3387 non-null float64
foreign_gross     2032 non-null float64
year              3387 non-null int64
dtypes: float64(2), int64(1), object(2)
memory usage: 132.4+ KB

In [16]:
bom_movie_df.describe().T

,count,mean,std,min,25%,50%,75%,max
domestic_gross,3387.0,2.850821e+07,6.675575e+07,0.0,111500.0,1300000.0,27500000.0,936700000.0
foreign_gross,2032.0,7.505704e+07,1.375294e+08,600.0,3775000.0,18900000.0,75050000.0,960500000.0
year,3387.0,2.013958e+03,2.478141e+00,2010.0,2012.0,2014.0,2016.0,2018.0

In [17]:
bom_movie_df.loc[bom_movie_df['foreign_gross'].isna(), 'foreign_gross'] = 0

In [18]:
imdb_name_df = pd.read_csv('data/imdb.name.basics.csv.gz')

In [19]:
imdb_name_df.drop(['nconst', 'death_year','birth_year'], axis=1, inplace=True)

In [20]:
imdb_name_df.head(5)

,primary_name,primary_profession,known_for_titles
0,Mary Ellen Bauder,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,Joseph Bauer,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,Bruce Baum,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,Axel Baumann,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,Pete Baxter,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [21]:
imdb_name_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606648 entries, 0 to 606647
Data columns (total 3 columns):
primary_name          606648 non-null object
primary_profession    555308 non-null object
known_for_titles      576444 non-null object
dtypes: object(3)
memory usage: 13.9+ MB

In [22]:
imdb_title_akas_df = pd.read_csv('data/imdb.title.akas.csv.gz')

In [23]:
imdb_title_akas_df.drop('title_id', axis=1, inplace=True)

In [24]:
imdb_title_akas_df.head(1)

   ordering          title region language types attributes  is_original_title
0        10  Джурасик свят     BG       bg   NaN        NaN                0.0

In [25]:
imdb_title_akas_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 7 columns):
ordering             331703 non-null int64
title                331703 non-null object
region               278410 non-null object
language             41715 non-null object
types                168447 non-null object
attributes           14925 non-null object
is_original_title    331678 non-null float64
dtypes: float64(1), int64(1), object(5)
memory usage: 17.7+ MB

In [26]:
imdb_title_basics_df = pd.read_csv('data/imdb.title.basics.csv.gz')

In [27]:
#imdb_title_basics_df.drop('tconst', axis=1, inplace=True)

In [28]:
#bom_movie_df merge with
imdb_title_basics_df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [29]:
imdb_title_basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [30]:
imdb_title_basics_df['runtime_minutes'].isna().sum()

31739

In [31]:
imdb_title_basics_df.loc[imdb_title_basics_df['runtime_minutes'].isna(), 'runtime_minutes'] = imdb_title_basics_df['runtime_minutes'].median()

In [32]:
imdb_title_basics_df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,87.0,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [33]:
imdb_title_basics_df.describe().T

,count,mean,std,min,25%,50%,75%,max
start_year,146144.0,2014.621798,2.733583,2010.0,2012.0,2015.0,2017.0,2115.0
runtime_minutes,146144.0,86.363758,147.191650,1.0,75.0,87.0,95.0,51420.0

In [34]:
imdb_title_crew_df = pd.read_csv('data/imdb.title.crew.csv.gz')

In [35]:
#imdb_title_crew_df.drop('tconst', axis=1, inplace=True)

In [36]:
imdb_title_crew_df.tail() #No need

           tconst              directors     writers
146139  tt8999974             nm10122357  nm10122357
146140  tt9001390              nm6711477   nm6711477
146141  tt9001494  nm10123242,nm10123248         NaN
146142  tt9004986              nm4993825   nm4993825
146143  tt9010172                    NaN   nm8352242

In [37]:
imdb_title_crew_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
tconst       146144 non-null object
directors    140417 non-null object
writers      110261 non-null object
dtypes: object(3)
memory usage: 3.3+ MB

In [38]:
imdb_title_crew_df['writers'].isna().sum()

35883

In [39]:
imdb_title_principales_df = pd.read_csv('data/imdb.title.principals.csv.gz')

In [40]:
imdb_title_principales_df.drop(['nconst'], axis=1, inplace=True)

In [41]:
imdb_title_principales_df['characters'].isna().sum()

634826

In [42]:
imdb_title_principales_df.head()

      tconst  ordering  category       job        characters
0  tt0111414         1     actor       NaN       ["The Man"]
1  tt0111414         2  director       NaN               NaN
2  tt0111414         3  producer  producer               NaN
3  tt0323808        10    editor       NaN               NaN
4  tt0323808         1   actress       NaN  ["Beth Boothby"]

In [43]:
imdb_title_principales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1028186 entries, 0 to 1028185
Data columns (total 5 columns):
tconst        1028186 non-null object
ordering      1028186 non-null int64
category      1028186 non-null object
job           177684 non-null object
characters    393360 non-null object
dtypes: int64(1), object(4)
memory usage: 39.2+ MB

In [44]:
imdb_title_principales_df.describe().T

              count      mean       std  min  25%  50%  75%   max
ordering  1028186.0  4.739847  2.747446  1.0  2.0  4.0  7.0  10.0

In [45]:
imdb_title_ratings_df = pd.read_csv('data/imdb.title.ratings.csv.gz')

In [46]:
#imdb_title_ratings_df.drop('tconst', axis=1, inplace=True)

In [47]:
imdb_title_ratings_df.head()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21

In [48]:
imdb_title_ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
tconst           73856 non-null object
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [49]:
imdb_title_ratings_df.describe().T

,count,mean,std,min,25%,50%,75%,max
averagerating,73856.0,6.332729,1.474978,1.0,5.5,6.5,7.4,10.0
numvotes,73856.0,3523.662167,30294.022971,5.0,14.0,49.0,282.0,1841066.0

In [50]:
imdb_movies_df = pd.read_csv('data/tmdb.movies.csv.gz')

In [51]:
imdb_movies_df.drop(['Unnamed: 0', 'id','genre_ids'], axis =1, inplace = True)

In [52]:
imdb_movies_df.head()

,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [53]:
imdb_movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 7 columns):
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(1), object(4)
memory usage: 1.4+ MB

In [54]:
imdb_movies_df.describe().T

,count,mean,std,min,25%,50%,75%,max
popularity,26517.0,3.130912,4.355229,0.6,0.6,1.374,3.694,80.773
vote_average,26517.0,5.991281,1.852946,0.0,5.0,6.000,7.000,10.000
vote_count,26517.0,194.224837,960.961095,1.0,2.0,5.000,28.000,22186.000

<h2 style="color:blue;"> Cleaning Data</h2>

In [55]:
## Plots in the same campus
# fig = plt.figure()
# ax1 = fig.add_axes([0,0,1,1])
# ax1 = fig.add_axes([0.2,0.2,0.5,0.5])

In [56]:
# x = np.linspace(0,10,8)
# y = x**0.5

In [57]:
# Subplots
# plt.subplot(1,2,1)
# plt.plot(y,x, 'r')

# plt.subplot(1,2,2)
# plt.plot(x,y, 'b')

In [59]:
df_merge = pd.concat([bom_movie_df,imdb_movies_df,imdb_movies_df,imdb_title_ratings_df,imdb_title_principales_df,imdb_title_basics_df,imdb_title_akas_df,imdb_name_df])

/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [60]:
dummy = pd.get_dummies(df_merge['genres'])

In [61]:
df_merge = pd.concat([df_merge, dummy], axis=1)

In [62]:
df_merge.drop('genres', axis=1, inplace=True)

In [72]:
list(df_merge.columns)

['attributes',
 'averagerating',
 'category',
 'characters',
 'domestic_gross',
 'foreign_gross',
 'is_original_title',
 'job',
 'known_for_titles',
 'language',
 'numvotes',
 'ordering',
 'original_language',
 'original_title',
 'popularity',
 'primary_name',
 'primary_profession',
 'primary_title',
 'region',
 'release_date',
 'runtime_minutes',
 'start_year',
 'studio',
 'tconst',
 'title',
 'types',
 'vote_average',
 'vote_count',
 'year',
 'Action',
 'Action,Adult,Comedy',
 'Action,Adventure',
 'Action,Adventure,Animation',
 'Action,Adventure,Biography',
 'Action,Adventure,Comedy',
 'Action,Adventure,Crime',
 'Action,Adventure,Documentary',
 'Action,Adventure,Drama',
 'Action,Adventure,Family',
 'Action,Adventure,Fantasy',
 'Action,Adventure,History',
 'Action,Adventure,Horror',
 'Action,Adventure,Music',
 'Action,Adventure,Musical',
 'Action,Adventure,Mystery',
 'Action,Adventure,Romance',
 'Action,Adventure,Sci-Fi',
 'Action,Adventure,Sport',
 'Action,Adventure,Thriller',
 'Action,Adventure,War',
 'Action,Adventure,Western',
 'Action,Animation',
 'Action,Animation,Biography',
 'Action,Animation,Comedy',
 'Action,Animation,Crime',
 'Action,Animation,Documentary',
 'Action,Animation,Drama',
 'Action,Animation,Family',
 'Action,Animation,Fantasy',
 'Action,Animation,History',
 'Action,Animation,Horror',
 'Action,Animation,Music',
 'Action,Animation,Mystery',
 'Action,Animation,Sci-Fi',
 'Action,Animation,Sport',
 'Action,Animation,Thriller',
 'Action,Animation,War',
 'Action,Biography',
 'Action,Biography,Comedy',
 'Action,Biography,Crime',
 'Action,Biography,Documentary',
 'Action,Biography,Drama',
 'Action,Biography,Fantasy',
 'Action,Biography,History',
 'Action,Biography,Thriller',
 'Action,Comedy',
 'Action,Comedy,Crime',
 'Action,Comedy,Documentary',
 'Action,Comedy,Drama',
 'Action,Comedy,Family',
 'Action,Comedy,Fantasy',
 'Action,Comedy,History',
 'Action,Comedy,Horror',
 'Action,Comedy,Music',
 'Action,Comedy,Musical',
 'Action,Comedy,Mystery',
 'Action,Comedy,Romance',
 'Action,Comedy,Sci-Fi',
 'Action,Comedy,Sport',
 'Action,Comedy,Thriller',
 'Action,Comedy,War',
 'Action,Comedy,Western',
 'Action,Crime',
 'Action,Crime,Documentary',
 'Action,Crime,Drama',
 'Action,Crime,Fantasy',
 'Action,Crime,History',
 'Action,Crime,Horror',
 'Action,Crime,Music',
 'Action,Crime,Musical',
 'Action,Crime,Mystery',
 'Action,Crime,Romance',
 'Action,Crime,Sci-Fi',
 'Action,Crime,Sport',
 'Action,Crime,Thriller',
 'Action,Crime,Western',
 'Action,Documentary',
 'Action,Documentary,Drama',
 'Action,Documentary,Family',
 'Action,Documentary,Fantasy',
 'Action,Documentary,History',
 'Action,Documentary,Horror',
 'Action,Documentary,Music',
 'Action,Documentary,Musical',
 'Action,Documentary,Mystery',
 'Action,Documentary,News',
 'Action,Documentary,Romance',
 'Action,Documentary,Sport',
 'Action,Documentary,Thriller',
 'Action,Documentary,War',
 'Action,Documentary,Western',
 'Action,Drama',
 'Action,Drama,Family',
 'Action,Drama,Fantasy',
 'Action,Drama,History',
 'Action,Drama,Horror',
 'Action,Drama,Music',
 'Action,Drama,Musical',
 'Action,Drama,Mystery',
 'Action,Drama,News',
 'Action,Drama,Romance',
 'Action,Drama,Sci-Fi',
 'Action,Drama,Sport',
 'Action,Drama,Thriller',
 'Action,Drama,War',
 'Action,Drama,Western',
 'Action,Family',
 'Action,Family,Fantasy',
 'Action,Family,Mystery',
 'Action,Family,Romance',
 'Action,Family,Sci-Fi',
 'Action,Family,Thriller',
 'Action,Family,Western',
 'Action,Fantasy',
 'Action,Fantasy,History',
 'Action,Fantasy,Horror',
 'Action,Fantasy,Mystery',
 'Action,Fantasy,Romance',
 'Action,Fantasy,Sci-Fi',
 'Action,Fantasy,Sport',
 'Action,Fantasy,Thriller',
 'Action,Fantasy,War',
 'Action,Fantasy,Western',
 'Action,History',
 'Action,History,Horror',
 'Action,History,Romance',
 'Action,History,Thriller',
 'Action,History,War',
 'Action,Horror',
 'Action,Horror,Music',
 'Action,Horror,Mystery',
 'Action,Horror,Romance',
 'Action,Horror,Sci-Fi',
 'Action,Horror,Sport',
 'Action,Horror,Thriller',
 'Action,Horror,Western',
 'Action,Music',
 'Action,Music,Sci-Fi',
 'Action,Musical',
 'Action,Musical,Romance',
 'Action,Musical,Sci-Fi',
 'Action,Musical,Thriller',
 'Action,Mystery',
 'Action,Mystery,Romance',
 'Action,Mystery,Sci-Fi',
 'Action,Mystery,Thriller',
 'Action,Mystery,Western',
 'Action,Romance',
 'Action,Romance,Sci-Fi',
 'Action,Romance,Sport',
 'Action,Romance,Thriller',
 'Action,Romance,War',
 'Action,Romance,Western',
 'Action,Sci-Fi',
 'Action,Sci-Fi,Thriller',
 'Action,Sci-Fi,War',
 'Action,Sci-Fi,Western',
 'Action,Sport',
 'Action,Sport,Thriller',
 'Action,Sport,War',
 'Action,Thriller',
 'Action,Thriller,War',
 'Action,Thriller,Western',
 'Action,War',
 'Action,Western',
 'Adult,Comedy',
 'Adult,Drama',
 'Adult,Drama,Mystery',
 'Adult,Drama,Romance',
 'Adult,Horror',
 'Adult,Romance',
 'Adventure',
 'Adventure,Animation',
 'Adventure,Animation,Biography',
 'Adventure,Animation,Comedy',
 'Adventure,Animation,Crime',
 'Adventure,Animation,Documentary',
 'Adventure,Animation,Drama',
 'Adventure,Animation,Family',
 'Adventure,Animation,Fantasy',
 'Adventure,Animation,History',
 'Adventure,Animation,Horror',
 'Adventure,Animation,Musical',
 'Adventure,Animation,Mystery',
 'Adventure,Animation,Sci-Fi',
 'Adventure,Biography',
 'Adventure,Biography,Comedy',
 'Adventure,Biography,Crime',
 'Adventure,Biography,Documentary',
 'Adventure,Biography,Drama',
 'Adventure,Biography,Family',
 'Adventure,Biography,History',
 'Adventure,Biography,Mystery',
 'Adventure,Biography,Thriller',
 'Adventure,Biography,Western',
 'Adventure,Comedy',
 'Adventure,Comedy,Crime',
 'Adventure,Comedy,Documentary',
 'Adventure,Comedy,Drama',
 'Adventure,Comedy,Family',
 'Adventure,Comedy,Fantasy',
 'Adventure,Comedy,History',
 'Adventure,Comedy,Horror',
 'Adventure,Comedy,Music',
 'Adventure,Comedy,Musical',
 'Adventure,Comedy,Mystery',
 'Adventure,Comedy,Reality-TV',
 'Adventure,Comedy,Romance',
 'Adventure,Comedy,Sci-Fi',
 'Adventure,Comedy,Thriller',
 'Adventure,Comedy,War',
 'Adventure,Comedy,Western',
 'Adventure,Crime',
 'Adventure,Crime,Documentary',
 'Adventure,Crime,Drama',
 'Adventure,Crime,Family',
 'Adventure,Crime,Horror',
 'Adventure,Crime,Music',
 'Adventure,Crime,Mystery',
 'Adventure,Crime,Romance',
 'Adventure,Crime,Sci-Fi',
 'Adventure,Crime,Thriller',
 'Adventure,Crime,Western',
 'Adventure,Documentary',
 'Adventure,Documentary,Drama',
 'Adventure,Documentary,Family',
 'Adventure,Documentary,Fantasy',
 'Adventure,Documentary,History',
 'Adventure,Documentary,Horror',
 'Adventure,Documentary,Music',
 'Adventure,Documentary,Musical',
 'Adventure,Documentary,Mystery',
 'Adventure,Documentary,News',
 'Adventure,Documentary,Reality-TV',
 'Adventure,Documentary,Romance',
 'Adventure,Documentary,Sci-Fi',
 'Adventure,Documentary,Sport',
 'Adventure,Documentary,War',
 'Adventure,Documentary,Western',
 'Adventure,Drama',
 'Adventure,Drama,Family',
 'Adventure,Drama,Fantasy',
 'Adventure,Drama,History',
 'Adventure,Drama,Horror',
 'Adventure,Drama,Music',
 'Adventure,Drama,Musical',
 'Adventure,Drama,Mystery',
 'Adventure,Drama,Romance',
 'Adventure,Drama,Sci-Fi',
 'Adventure,Drama,Sport',
 'Adventure,Drama,Thriller',
 'Adventure,Drama,War',
 'Adventure,Drama,Western',
 'Adventure,Family',
 'Adventure,Family,Fantasy',
 'Adventure,Family,Horror',
 'Adventure,Family,Music',
 'Adventure,Family,Musical',
 'Adventure,Family,Mystery',
 'Adventure,Family,Romance',
 'Adventure,Family,Sci-Fi',
 'Adventure,Family,Sport',
 'Adventure,Family,Western',
 'Adventure,Fantasy',
 'Adventure,Fantasy,History',
 'Adventure,Fantasy,Horror',
 'Adventure,Fantasy,Music',
 'Adventure,Fantasy,Musical',
 'Adventure,Fantasy,Mystery',
 'Adventure,Fantasy,Romance',
 'Adventure,Fantasy,Sci-Fi',
 'Adventure,Fantasy,Thriller',
 'Adventure,Fantasy,War',
 'Adventure,History',
 'Adventure,History,Music',
 'Adventure,History,Mystery',
 'Adventure,History,News',
 'Adventure,History,Romance',
 'Adventure,History,Sci-Fi',
 'Adventure,History,War',
 'Adventure,History,Western',
 'Adventure,Horror',
 'Adventure,Horror,Mystery',
 'Adventure,Horror,Romance',
 'Adventure,Horror,Sci-Fi',
 'Adventure,Horror,Thriller',
 'Adventure,Horror,Western',
 'Adventure,Music',
 'Adventure,Music,Mystery',
 'Adventure,Music,Romance',
 'Adventure,Music,Sci-Fi',
 'Adventure,Music,Thriller',
 'Adventure,Musical',
 'Adventure,Musical,Romance',
 'Adventure,Musical,Sci-Fi',
 'Adventure,Mystery',
 'Adventure,Mystery,Romance',
 'Adventure,Mystery,Sci-Fi',
 'Adventure,Mystery,Thriller',
 'Adventure,News',
 'Adventure,Romance',
 'Adventure,Romance,Sci-Fi',
 'Adventure,Romance,Sport',
 'Adventure,Romance,Thriller',
 'Adventure,Sci-Fi',
 'Adventure,Sci-Fi,Thriller',
 'Adventure,Sport',
 'Adventure,Thriller',
 'Adventure,Western',
 'Animation',
 'Animation,Biography',
 'Animation,Biography,Comedy',
 'Animation,Biography,Crime',
 'Animation,Biography,Documentary',
 'Animation,Biography,Drama',
 'Animation,Biography,Family',
 'Animation,Biography,Fantasy',
 'Animation,Biography,History',
 'Animation,Comedy',
 'Animation,Comedy,Crime',
 'Animation,Comedy,Documentary',
 'Animation,Comedy,Drama',
 'Animation,Comedy,Family',
 'Animation,Comedy,Fantasy',
 'Animation,Comedy,History',
 'Animation,Comedy,Horror',
 'Animation,Comedy,Music',
 'Animation,Comedy,Musical',
 'Animation,Comedy,Mystery',
 'Animation,Comedy,Romance',
 'Animation,Comedy,Sci-Fi',
 'Animation,Crime',
 'Animation,Crime,Documentary',
 'Animation,Crime,Drama',
 'Animation,Crime,Music',
 'Animation,Crime,Mystery',
 'Animation,Crime,Thriller',
 'Animation,Documentary',
 'Animation,Documentary,Drama',
 'Animation,Documentary,Family',
 'Animation,Documentary,Fantasy',
 'Animation,Documentary,History',
 'Animation,Documentary,Horror',
 'Animation,Documentary,Music',
 'Animation,Documentary,Musical',
 'Animation,Documentary,Mystery',
 'Animation,Documentary,News',
 'Animation,Documentary,Sci-Fi',
 'Animation,Documentary,Thriller',
 'Animation,Documentary,War',
 'Animation,Drama',
 'Animation,Drama,Family',
 'Animation,Drama,Fantasy',
 'Animation,Drama,History',
 'Animation,Drama,Horror',
 'Animation,Drama,Music',
 'Animation,Drama,Musical',
 'Animation,Drama,Mystery',
 'Animation,Drama,Romance',
 'Animation,Drama,Sci-Fi',
 'Animation,Drama,Sport',
 'Animation,Drama,Thriller',
 'Animation,Drama,War',
 'Animation,Family',
 'Animation,Family,Fantasy',
 'Animation,Family,History',
 'Animation,Family,Music',
 'Animation,Family,Musical',
 'Animation,Family,Mystery',
 'Animation,Family,Sci-Fi',
 'Animation,Family,Sport',
 'Animation,Fantasy',
 'Animation,Fantasy,History',
 'Animation,Fantasy,Horror',
 'Animation,Fantasy,Music',
 'Animation,Fantasy,Musical',
 'Animation,Fantasy,Mystery',
 'Animation,Fantasy,Romance',
 'Animation,Fantasy,Sci-Fi',
 'Animation,Fantasy,Thriller',
 'Animation,History',
 'Animation,History,Horror',
 'Animation,History,Music',
 'Animation,History,Musical',
 'Animation,Horror',
 'Animation,Horror,Music',
 'Animation,Horror,Mystery',
 'Animation,Horror,Romance',
 'Animation,Horror,Sci-Fi',
 'Animation,Horror,Thriller',
 'Animation,Music',
 'Animation,Music,Musical',
 'Animation,Music,Mystery',
 'Animation,Music,Romance',
 'Animation,Music,Sci-Fi',
 'Animation,Music,Thriller',
 'Animation,Musical',
 'Animation,Musical,Sport',
 'Animation,Mystery',
 'Animation,Mystery,Sci-Fi',
 'Animation,Mystery,Thriller',
 'Animation,Romance',
 'Animation,Romance,Sci-Fi',
 'Animation,Sci-Fi',
 'Animation,Sci-Fi,Sport',
 'Animation,Sci-Fi,Thriller',
 'Animation,Sci-Fi,War',
 'Animation,Short',
 'Animation,Sport',
 'Animation,Thriller',
 'Animation,War',
 'Animation,Western',
 'Biography',
 'Biography,Comedy',
 'Biography,Comedy,Crime',
 'Biography,Comedy,Documentary',
 'Biography,Comedy,Drama',
 'Biography,Comedy,Family',
 'Biography,Comedy,Fantasy',
 'Biography,Comedy,History',
 'Biography,Comedy,Horror',
 'Biography,Comedy,Music',
 'Biography,Comedy,Musical',
 'Biography,Comedy,Reality-TV',
 'Biography,Comedy,Romance',
 'Biography,Comedy,Sci-Fi',
 'Biography,Crime',
 'Biography,Crime,Documentary',
 'Biography,Crime,Drama',
 'Biography,Crime,History',
 'Biography,Crime,Romance',
 'Biography,Crime,Thriller',
 'Biography,Documentary',
 'Biography,Documentary,Drama',
 'Biography,Documentary,Family',
 'Biography,Documentary,Fantasy',
 'Biography,Documentary,History',
 'Biography,Documentary,Horror',
 'Biography,Documentary,Music',
 'Biography,Documentary,Musical',
 'Biography,Documentary,Mystery',
 'Biography,Documentary,News',
 'Biography,Documentary,Reality-TV',
 'Biography,Documentary,Romance',
 'Biography,Documentary,Sci-Fi',
 'Biography,Documentary,Sport',
 'Biography,Documentary,Thriller',
 'Biography,Documentary,War',
 'Biography,Documentary,Western',
 'Biography,Drama',
 'Biography,Drama,Family',
 'Biography,Drama,Fantasy',
 'Biography,Drama,History',
 'Biography,Drama,Horror',
 'Biography,Drama,Music',
 'Biography,Drama,Musical',
 'Biography,Drama,Mystery',
 'Biography,Drama,News',
 'Biography,Drama,Romance',
 'Biography,Drama,Sport',
 'Biography,Drama,Thriller',
 'Biography,Drama,War',
 'Biography,Drama,Western',
 'Biography,Family',
 'Biography,Family,Fantasy',
 'Biography,Family,History',
 'Biography,Family,Mystery',
 'Biography,Family,News',
 'Biography,Family,Sport',
 'Biography,Fantasy',
 'Biography,Fantasy,History',
 'Biography,Fantasy,Horror',
 'Biography,History',
 'Biography,History,Music',
 'Biography,History,Musical',
 'Biography,History,Mystery',
 'Biography,History,News',
 'Biography,History,Romance',
 'Biography,History,Thriller',
 'Biography,History,War',
 'Biography,Horror',
 'Biography,Music',
 'Biography,Music,Musical',
 'Biography,Music,Romance',
 'Biography,Musical',
 'Biography,Mystery,Sci-Fi',
 'Biography,Reality-TV',
 'Biography,Romance',
 'Biography,Romance,War',
 'Biography,Sport',
 'Biography,Thriller',
 'Biography,Thriller,Western',
 'Biography,War',
 'Comedy',
 'Comedy,Crime',
 'Comedy,Crime,Documentary',
 'Comedy,Crime,Drama',
 'Comedy,Crime,Family',
 'Comedy,Crime,Fantasy',
 'Comedy,Crime,History',
 'Comedy,Crime,Horror',
 'Comedy,Crime,Music',
 'Comedy,Crime,Musical',
 'Comedy,Crime,Mystery',
 'Comedy,Crime,Romance',
 'Comedy,Crime,Sci-Fi',
 'Comedy,Crime,Sport',
 'Comedy,Crime,Thriller',
 'Comedy,Crime,Western',
 'Comedy,Documentary',
 'Comedy,Documentary,Drama',
 'Comedy,Documentary,Family',
 'Comedy,Documentary,Fantasy',
 'Comedy,Documentary,History',
 'Comedy,Documentary,Horror',
 'Comedy,Documentary,Music',
 'Comedy,Documentary,Musical',
 'Comedy,Documentary,Mystery',
 'Comedy,Documentary,News',
 'Comedy,Documentary,Reality-TV',
 'Comedy,Documentary,Romance',
 'Comedy,Documentary,Sci-Fi',
 'Comedy,Documentary,Sport',
 'Comedy,Documentary,Thriller',
 'Comedy,Documentary,War',
 'Comedy,Documentary,Western',
 'Comedy,Drama',
 'Comedy,Drama,Family',
 'Comedy,Drama,Fantasy',
 'Comedy,Drama,History',
 'Comedy,Drama,Horror',
 'Comedy,Drama,Music',
 'Comedy,Drama,Musical',
 'Comedy,Drama,Mystery',
 'Comedy,Drama,News',
 'Comedy,Drama,Reality-TV',
 'Comedy,Drama,Romance',
 'Comedy,Drama,Sci-Fi',
 'Comedy,Drama,Short',
 'Comedy,Drama,Sport',
 'Comedy,Drama,Thriller',
 'Comedy,Drama,War',
 'Comedy,Drama,Western',
 'Comedy,Family',
 'Comedy,Family,Fantasy',
 'Comedy,Family,History',
 'Comedy,Family,Horror',
 'Comedy,Family,Music',
 'Comedy,Family,Musical',
 'Comedy,Family,Mystery',
 'Comedy,Family,Romance',
 'Comedy,Family,Sci-Fi',
 'Comedy,Family,Sport',
 'Comedy,Family,Thriller',
 'Comedy,Family,Western',
 'Comedy,Fantasy',
 'Comedy,Fantasy,History',
 'Comedy,Fantasy,Horror',
 'Comedy,Fantasy,Music',
 'Comedy,Fantasy,Musical',
 'Comedy,Fantasy,Mystery',
 'Comedy,Fantasy,Romance',
 'Comedy,Fantasy,Sci-Fi',
 'Comedy,Fantasy,Sport',
 'Comedy,Fantasy,Thriller',
 'Comedy,History',
 'Comedy,History,Horror',
 'Comedy,History,Music',
 'Comedy,History,Musical',
 'Comedy,History,Mystery',
 'Comedy,History,News',
 'Comedy,History,Romance',
 'Comedy,History,Sport',
 'Comedy,History,Thriller',
 'Comedy,History,War',
 'Comedy,Horror',
 'Comedy,Horror,Music',
 'Comedy,Horror,Musical',
 'Comedy,Horror,Mystery',
 'Comedy,Horror,Reality-TV',
 'Comedy,Horror,Romance',
 'Comedy,Horror,Sci-Fi',
 'Comedy,Horror,Sport',
 'Comedy,Horror,Thriller',
 'Comedy,Horror,War',
 'Comedy,Horror,Western',
 'Comedy,Music',
 'Comedy,Music,Musical',
 'Comedy,Music,Mystery',
 'Comedy,Music,Romance',
 'Comedy,Music,Sci-Fi',
 'Comedy,Music,Thriller',
 'Comedy,Music,War',
 'Comedy,Musical',
 'Comedy,Musical,Mystery',
 'Comedy,Musical,Romance',
 'Comedy,Musical,Sci-Fi',
 'Comedy,Musical,Sport',
 'Comedy,Musical,Thriller',
 'Comedy,Musical,War',
 'Comedy,Musical,Western',
 'Comedy,Mystery',
 'Comedy,Mystery,Romance',
 'Comedy,Mystery,Sci-Fi',
 'Comedy,Mystery,Thriller',
 'Comedy,News',
 'Comedy,Reality-TV',
 'Comedy,Romance',
 'Comedy,Romance,Sci-Fi',
 'Comedy,Romance,Short',
 'Comedy,Romance,Sport',
 'Comedy,Romance,Thriller',
 'Comedy,Romance,Western',
 'Comedy,Sci-Fi',
 'Comedy,Sci-Fi,Sport',
 'Comedy,Sci-Fi,Thriller',
 'Comedy,Sci-Fi,Western',
 'Comedy,Short',
 'Comedy,Sport',
 'Comedy,Sport,Thriller',
 'Comedy,Sport,Western',
 'Comedy,Talk-Show',
 'Comedy,Thriller',
 'Comedy,Thriller,Western',
 'Comedy,War',
 'Comedy,Western',
 'Crime',
 'Crime,Documentary',
 'Crime,Documentary,Drama',
 'Crime,Documentary,Family',
 'Crime,Documentary,Fantasy',
 'Crime,Documentary,History',
 'Crime,Documentary,Horror',
 'Crime,Documentary,Music',
 'Crime,Documentary,Mystery',
 'Crime,Documentary,News',
 'Crime,Documentary,Romance',
 'Crime,Documentary,Sport',
 'Crime,Documentary,Thriller',
 'Crime,Documentary,War',
 'Crime,Drama',
 'Crime,Drama,Family',
 'Crime,Drama,Fantasy',
 'Crime,Drama,History',
 'Crime,Drama,Horror',
 'Crime,Drama,Music',
 'Crime,Drama,Musical',
 'Crime,Drama,Mystery',
 'Crime,Drama,News',
 'Crime,Drama,Romance',
 'Crime,Drama,Sci-Fi',
 'Crime,Drama,Sport',
 'Crime,Drama,Thriller',
 'Crime,Drama,War',
 'Crime,Drama,Western',
 'Crime,Family',
 'Crime,Family,Fantasy',
 'Crime,Family,Horror',
 'Crime,Family,Thriller',
 'Crime,Fantasy,Horror',
 'Crime,Fantasy,Mystery',
 'Crime,Fantasy,Thriller',
 'Crime,Fantasy,War',
 'Crime,History',
 'Crime,History,Horror',
 'Crime,History,Mystery',
 'Crime,History,Thriller',
 'Crime,Horror',
 'Crime,Horror,Musical',
 'Crime,Horror,Mystery',
 'Crime,Horror,Romance',
 'Crime,Horror,Sci-Fi',
 'Crime,Horror,Thriller',
 'Crime,Music',
 'Crime,Music,Mystery',
 'Crime,Music,Thriller',
 'Crime,Musical',
 'Crime,Musical,Thriller',
 'Crime,Mystery',
 'Crime,Mystery,Romance',
 'Crime,Mystery,Sci-Fi',
 'Crime,Mystery,Thriller',
 'Crime,Mystery,Western',
 'Crime,Romance',
 'Crime,Romance,Thriller',
 'Crime,Romance,Western',
 'Crime,Sci-Fi',
 'Crime,Sci-Fi,Thriller',
 'Crime,Sport,Thriller',
 'Crime,Thriller',
 'Crime,Thriller,Western',
 'Crime,War',
 'Crime,Western',
 'Documentary',
 'Documentary,Drama',
 'Documentary,Drama,Family',
 'Documentary,Drama,Fantasy',
 'Documentary,Drama,History',
 'Documentary,Drama,Horror',
 'Documentary,Drama,Music',
 'Documentary,Drama,Musical',
 'Documentary,Drama,Mystery',
 'Documentary,Drama,News',
 'Documentary,Drama,Reality-TV',
 'Documentary,Drama,Romance',
 'Documentary,Drama,Sci-Fi',
 'Documentary,Drama,Sport',
 'Documentary,Drama,Thriller',
 'Documentary,Drama,War',
 'Documentary,Drama,Western',
 'Documentary,Family',
 'Documentary,Family,Fantasy',
 'Documentary,Family,History',
 'Documentary,Family,Music',
 'Documentary,Family,Musical',
 'Documentary,Family,Mystery',
 'Documentary,Family,News',
 'Documentary,Family,Romance',
 'Documentary,Family,Sci-Fi',
 'Documentary,Family,Sport',
 'Documentary,Family,War',
 'Documentary,Family,Western',
 'Documentary,Fantasy',
 'Documentary,Fantasy,History',
 'Documentary,Fantasy,Horror',
 'Documentary,Fantasy,Music',
 'Documentary,Fantasy,Mystery',
 'Documentary,Fantasy,Romance',
 'Documentary,Fantasy,Sci-Fi',
 'Documentary,History',
 'Documentary,History,Horror',
 'Documentary,History,Music',
 'Documentary,History,Musical',
 'Documentary,History,Mystery',
 'Documentary,History,News',

In [ ]:
dummy_1 =[]

In [63]:
df_merge.loc[df_merge['language'].isna(), 'language']='en'

In [64]:
df_merge.head(2)

,attributes,averagerating,category,characters,domestic_gross,foreign_gross,is_original_title,job,known_for_titles,language,...,"Sport,Talk-Show","Sport,Thriller",Talk-Show,Thriller,"Thriller,War","Thriller,War,Western","Thriller,Western",War,"War,Western",Western
0,NaN,NaN,NaN,NaN,415000000.0,652000000.0,NaN,NaN,NaN,en,...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,NaN,NaN,334200000.0,691300000.0,NaN,NaN,NaN,en,...,0,0,0,0,0,0,0,0,0,0

In [66]:
df_merge.loc[df_merge['studio'].isna(), 'studio'] = 'sony'

In [67]:
#dfs.loc[dfs['foreign_gross'].isna(), 'foreign_gross'] = dfs['foreign_gross'].median()

In [68]:
df_merge.loc[df_merge['year'].isna(), 'year'] = df_merge['year'].median()

In [69]:
df_merge.studio.tail()

606643    sony
606644    sony
606645    sony
606646    sony
606647    sony
Name: studio, dtype: object

In [ ]:
#dff = pd.DataFrame([dfs['dom']])

In [70]:
sns.heatmap(df_merge.isnull(), yticklabels=False, cbar=False, cmap='viridis');

KeyboardInterrupt:

In [ ]:
{'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 16, 'name': 'Animation'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 80, 'name': 'Crime'},
  {'id': 99, 'name': 'Documentary'},
  {'id': 18, 'name': 'Drama'},
  {'id': 10751, 'name': 'Family'},
  {'id': 14, 'name': 'Fantasy'},
  {'id': 36, 'name': 'History'},
  {'id': 27, 'name': 'Horror'},
  {'id': 10402, 'name': 'Music'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 10749, 'name': 'Romance'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 10770, 'name': 'TV Movie'},
  {'id': 53, 'name': 'Thriller'},
  {'id': 10752, 'name': 'War'},
  {'id': 37, 'name': 'Western'}]}